*{
    box-sizing: border-box;
    margin:0;
    padding:o;
}

.whole-form{
    background-color:azure;
    min-height:100vh;
    width:100%;

}

.segregate{
    text-align:center;
}

.segregate h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bold;
    margin-top:30px;
}

.segregate p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:15px;
}

.in-flex-direction{
    padding:100px;
    display:flex;
  
    min-height:100vh;
    justify-content:space-between;
  
}

.division-1{
    width:45%;
 
}

.division-1 h2{
    margin-bottom: 30px;
    font-family:'Times New Roman', Times, serif;
}

.division-1 .categorically input[type="password"]{
    padding:6px;
    width:100%;
    margin-top:10px;
}

.division-1 .categorically input[type="text"]{
    padding:6px;
    width:100%;
    margin-top:10px;
 }

.division-1 .categorically label{
   justify-content: center;
   justify-items: center;
   font-size: 19px;
   font-weight: bold;
}

a{
    text-decoration: none;
}

a:link, a:visited {
    background-image: linear-gradient(to right, #5edda8 0%, #89f243 51%, #2eebfc 100%);
    border: 2px solid whitesmoke;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius:0px 12px 0px 12px;
    width:180px;
    height:40px;
}

a:hover, a:active {
    color:black;
    background-image:linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%);
}
.btn{
    margin-top: 20px;
    display:flex;
    justify-content: flex-end;
}

.btn h4{
    margin-right: 10px;
    margin-top:15px;
}

.division-2{
    width:45%;
  
}

.division-2 .in-categories{
    display:flex;
    justify-content: space-between;
   
}